username = "username" # VM Username
password = "password" # VM Password

fortiflexvm_account_id            = "0000000"
fortiflexvm_program_serial_number = "ELAVMS0000000000"

# Define environments and their resource group prefixes
environments = {
  "adc10" = { rg-prefix = "adc10" }
  # "adc11" = { rg-prefix = "adc11" }
  # "adc12" = { rg-prefix = "adc12" }
  # ... add more environments as needed
  # .
  # "adc50" = { rg-prefix = "adc50" }
}

fortiflex_serial_numbers = {
  "adc10_adc_1" = { fortiflex_serial = "pre-created-fortiflex-serial#" }
  "adc10_adc_2" = { fortiflex_serial = "pre-created-fortiflex-serial#" }
  # "adc11_adc_1" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
  # "adc11_adc_2" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
  # "adc12_adc_1" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
  # "adc12_adc_2" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
  # ... add more fortiflex serials as needed
  # .
  # "adc50_adc_1" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
  # "adc50_adc_2" = { fortiflex_serial = "pre-created-fortiflex-serial#"}
}